<style>
.thisImage {
  border-radius: 15px;
}
.textFormat {
  font-size: 50px;
  font-style: normal;
}
</style>
<br><br><br><br><br><br>
<div class="col-12 text-white textFormat text-dark">
  <p class="text-center animated fadeInDown" id="query-open-1">Please, select the sale representative who assisted you today.</p>
</div>

  <div class="row">
    <div class="col-3 ml-5">
    </div>
    <div class="col-m6 text-center ml-5">
      <div class="card border-0 animated fadeInUp" id="cardAnim" style="width: 18rem;">
        <div class="card-body ml-5 btnSlide animated slideInDown">
        <%= form_with url: '/first_stages/verify_rep', local: true do |f| %>
          <%= f.select :sales_rep, SaleRep.all.collect { |rep| [ rep.first_name+" "+rep.last_name, rep.id ] }, include_blank: true %>
          <%= f.submit %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>


<br><br><br><br>

